# ==========================
# OS Files
# ==========================
# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
ehthumbs.db
*.lnk
# ==========================
# Environment / config
# ==========================
.env
.env.local
.env.*.local
.pem